@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);


body {
  font-family: 'Palatino Linotype', Palatino, serif;
  font-size: 14pt;
  margin-top: 50px;
  margin-bottom: 25%;
  margin-left: 25%;
  margin-right: 25%;
  color: #332;
  background: #FFF;
  line-height: 20pt;
}

h1 {
  color: #034F9B;
  font-size: 20pt;
}

h2 {
  color: #e71;
  font-size: 18pt;
}

h3 {
  color: #e71;
  font-size: 16pt;
}

a {
  color: #e71;
  text-decoration: none;
}

a:hover {
  color: #06c;
}

code, pre {
  font-family: 'Droid Sans Mono', monospace;
  font-size: 12pt;
  background: #EED;
  padding: 2px;
  margin: -2px;
}

#bottom {
  color: #AA8;
}

#bottom a {
  color: #AA8;
  text-decoration: underline;
}

#bottom a:hover {
  color: #886;
}
